# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# SQLite database
*.sqlite3
